<link rel="stylesheet" href="css/style.css">

    <footer>
        <div class="credits">
            <p>© 2025 Iliana Iseli</p>
        </div>
        <div class="mail">
            <p>iliana.isel@quickline.ch</p>
        </div>
    </footer>