<link rel="stylesheet" href="/css/header.css">

    <header>
        <nav>
            <ul>
                <li class="nav-portfolio">
                    <a href="/">Portfolio</a>
                </li>
                <li class="nav-projekte">
                    <a href="/projects">Projekte</a>
                </li>
                <li class="nav-ueber-mich">
                    <a href="/about">Über mich</a>
                </li>
            </ul>
        </nav>
    </header>